create a report on animal sightings

<form action="/generate_report", method="post">
  <label for="start">start date</label><br>
  <input type="text" name="start"><br>
  <label for="end">end date</label><br>
  <input type="text" name="end"><br><br>
  <input type="submit" value="Submit">
</form>
